{% extends 'base.html.twig' %}

{% block title %}Personal index{% endblock %}

{% block body %}
    <div class="count float-end mt-3">
        <span class="badge bg-secondary">Nº de Personal => {{ pagination.getTotalItemCount }}</span>
    </div>
    <a class="mt-3 btn btn-success" href="{{ path('personal_new') }}">Crear nuevo Personal</a>
    <table class="table table-bordered table-striped table-responsive mt-3">
        <caption>Lista del Personal</caption>
        <thead class="text-uppercase bg-azul bg-gradient text-white">
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}
                <th{% if pagination.isSorted('p.nombre') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Nombre', 'p.nombre') }}
                </th>
                <th{% if pagination.isSorted('p.apellido') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Apellido', 'p.apellido') }}
                </th>
                <th>Funcion</th>
                <th>Base</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="text-uppercase table-warning">
        {# table body #}
        {% for persona in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td class="fw-bold">{{ persona.id }}</td>
            <td>{{ persona.nombre }}</td>
            <td>{{ persona.apellido }}</td>
            <td>{{ persona.funcion.nombre }}</td>
            <td>{{ persona.basepersonal.nombre }}</td>
            <td>
                <a class="btn btn-primary text-lowercase" href="{{ path('aviones_show', {'id': persona.id}) }}">mostrar</a>
                <a class="btn btn-warning text-lowercase" href="{{ path('aviones_edit', {'id': persona.id}) }}">editar</a>
            </td>
            
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{# display navigation #}

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
    
{% endblock %}
