{% extends 'base.html.twig' %}

{% block title %}Personal index{% endblock %}

{% block body %}
    <a class="mt-3 btn btn-success" href="{{ path('personal_new') }}">Crear nuevo Personal</a>
    <table class="table table-bordered table-striped table-responsive mt-3">
        <caption>Lista del Personal</caption>
        <thead class="text-uppercase bg-azul bg-gradient text-white">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Base</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="text-uppercase table-warning">
        {% for personal in personals %}
            <tr>
                <td class="fw-bold">{{ personal.id }}</td>
                <td>{{ personal.nombre }}</td>
                <td>{{ personal.apellido }}</td>
                <td>{{ personal.basepersonal.nombre }}</td>
                <td>
                    <a class="btn btn-primary text-lowercase" href="{{ path('personal_show', {'id': personal.id}) }}">mostrar</a>
                    <a class="btn btn-warning text-lowercase" href="{{ path('personal_edit', {'id': personal.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
