{% extends 'base.html.twig' %}

{% block title %}Listado Personal{% endblock %}

{% block body %}
<table class="table table-bordered table-striped table-responsive mt-3">
        <caption>Lista del Personal</caption>
        <thead class="text-uppercase bg-azul bg-gradient text-white">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Funcion</th>
                <th>Bases</th>
            </tr>
            </thead>
            <tbody class="text-uppercase table-warning">
                
                {% for persona in personal %}
                <tr>
                    <td scope="row">{{persona.id}}</td>
                    <td scope="row">{{persona.nombre}}</td>
                    <td scope="row">{{persona.nombre}}</td>
                    <td scope="row">{{persona.funcion.nombre}}</td>
                    <td scope="row">{{persona.basepersonal.nombre}}</td>
                </tr>
                {% else %}
                <tr>    
                    <td colspan="3" scope="row">No se han encontrado registros</td>
                </tr>
                {% endfor %}
                    
                </tr>
            </tbody>
    </table>
{% endblock %}