{% extends "base.html.twig" %}
{% block title %} Consulta Bases {% endblock %}
{% block body %}

<form action={{path('lista_bases')}}>
    <label for="personal">Personal: </label>
    <select name="personal">
        {% for base in bases %}
        <option value={{base.id}}>{{base.nombre}} - {{base.id}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Enviar">
</form>

{% if personal != null %}
    <table class="table table-striped table-inverse table-responsive">
        <caption>Lista de Personal en base {{base1}}</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
            </thead>
            <tbody>
                {% for persona in personal %}
                <tr>
                    <td>{{persona.id}}</td>
                    <td>{{persona.nombre}}</td>
                    <td>{{persona.apellido}}</td>
                </tr>   
                {% else %}
                <tr>
                    <td scope="row">No hay resultados</td>
                </tr>
                {% endfor %}
                
                
            </tbody>
    </table>
{% endif %}


{% endblock %}


