{% extends 'base.html.twig' %}

{% block title %}Listado de Personal en Vuelo{% endblock %}

{% block body %}
    <div class="count float-end mt-3 mb-2">
        <span class="badge bg-secondary">Nº de Personal - Vuelos => {{ pagination.getTotalItemCount }}</span>
    </div>
    <a class="btn btn-primary float-start mt-3 mb-2" href={{path('vuelos_index')}}>Volver a Vuelos</a>
    <table class="table table-bordered table-striped table-responsive mt-3">
        <caption>Lista de Personal en Avión</caption>
        <thead class="text-uppercase bg-azul bg-gradient text-white">
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'vp.id') }}</th>
                <th>Vuelo</th>
                <th>Piloto</th>
                <th>Copiloto</th>
                <th>Ingeniero</th>
                <th>Auxiliar</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="text-uppercase table-warning">
        {% for vuelos_personal in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td class="fw-bold">{{ vuelos_personal.id }}</td>
                <td>{{ vuelos_personal.vueloId.origen.nombre }} - {{ vuelos_personal.vueloId.destino.nombre }} - {{ vuelos_personal.vueloId.id }}</td>
                <td>{{ vuelos_personal.piloto.nombre }}</td>
                <td>{{ vuelos_personal.copiloto.nombre }}</td>
                <td>{{ vuelos_personal.ingeniero.nombre }}</td>
                <td>{{ vuelos_personal.auxiliar.nombre }}</td>
                <td>
                    <a class="btn btn-primary text-lowercase" href="{{ path('vuelos_personal_show', {'id': vuelos_personal.id}) }}">mostrar</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-warning text-lowercase" href="{{ path('vuelos_personal_edit', {'id': vuelos_personal.id}) }}">editar</a>
                    {% endif %}
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Registros no encontrados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>     
{% endblock %}
