{% extends 'base.html.twig' %}

{% block title %}Listado de Personal en Avion{% endblock %}

{% block body %}
    {# <a class="mt-3 btn btn-success" href="{{ path('vuelos_personal_new') }}">Create new</a> #}
    <table class="table table-bordered table-striped table-responsive mt-3">
        <caption>Lista de Personal en Avión</caption>
        <thead class="text-uppercase bg-azul bg-gradient text-white">
            <tr>
                <th>Id</th>
                <th>Piloto</th>
                <th>Copiloto</th>
                <th>Ingeniero</th>
                <th>Auxiliar</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="text-uppercase table-warning">
        {% for vuelos_personal in vuelos_personals %}
            <tr>
                <td>{{ vuelos_personal.id }}</td>
                <td>{{ vuelos_personal.piloto.nombre }}</td>
                <td>{{ vuelos_personal.copiloto.nombre }}</td>
                <td>{{ vuelos_personal.ingeniero.nombre }}</td>
                <td>{{ vuelos_personal.auxiliar.nombre }}</td>
                <td>
                    <a class="btn btn-primary text-lowercase" href="{{ path('vuelos_personal_show', {'id': vuelos_personal.id}) }}">mostrar</a>
                    <a class="btn btn-warning text-lowercase" href="{{ path('vuelos_personal_edit', {'id': vuelos_personal.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
