{% extends "base.html.twig" %}
{% block title %} Consulta Personal {% endblock %}
{% block body %}

<form class="mt-3" action={{path('consulta_personal_funcion')}}>
    <label for="funcion">Funcion </label>
    <select name="funcion">
        {% for f in funciones %}
        <option value={{f.id}}>{{f.nombre}} - {{f.id}}</option>
        {% endfor %}
    </select>
    <input class="ms-1 btn btn-primary" type="submit" value="Enviar">
</form>

{% if personal != null %}
    <table class="table table-bordered table-striped table-responsive mt-3">
        <caption>Personal con Función {{funcion1}}</caption>
        <thead class="text-uppercase bg-azul bg-gradient text-white">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Funcion</th>
            </tr>
            </thead>
            <tbody class="text-uppercase table-light">
                {% for persona in personal %}
                <tr>
                    <td class="fw-bold">{{persona.id}}</td>
                    <td>{{persona.nombre}}</td>
                    <td>{{persona.apellido}}</td>
                    <td>{{persona.funcion.nombre}}</td>
                </tr>   
                {% else %}
                <tr>
                    <td scope="row">No hay resultados</td>
                </tr>
                {% endfor %}
                
                
            </tbody>
    </table>
{% endif %}


{% endblock %}