{% extends "base.html.twig" %}
{% block title %} Consulta Vuelos {% endblock %}
{% block body %}

<form class="mt-3" action={{path('consulta_vuelos_avion')}}>
    <label for="avion">Avión: </label>
    <select name="avion">
        {% for avion in aviones %}
        <option value={{avion.id}}>{{avion.tipo}} - {{avion.id}}</option>
        {% endfor %}
    </select>
    <input class="ms-1 btn btn-primary" type="submit" value="Enviar">
</form>

{% if vuelos != null %}
    <table class="table table-bordered table-striped table-responsive mt-3">
        
        <caption>Lista de Vuelos en Avion {{avion1}}</caption>
        <thead class="text-uppercase bg-azul bg-gradient text-white">
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Avion</th>
                <th>Acción</th>
            </tr>
            </thead>
            <tbody class="text-uppercase table-light">
                {% for vuelo in vuelos %}
                <tr>
                    <td class="fw-bold">{{vuelo.id}}</td>
                    <td>{{vuelo.fecha|date('Y-m-d')}}</td>
                    <td>{{vuelo.hora|date('H:i:s')}}</td>
                    <td>{{vuelo.origen.nombre}}</td>
                    <td>{{vuelo.destino.nombre}}</td>
                    <td>{{vuelo.avion.tipo}}</td>
                    <td><a class="btn btn-primary text-lowercase" href="{{ path('vuelos_show', {'id': vuelo.id}) }}">mostrar</a></td>
                </tr>   
                {% else %}
                <tr>
                    <td scope="row">No hay resultados</td>
                </tr>
                {% endfor %}
                
                
            </tbody>
    </table>
{% endif %}


{% endblock %}


