{% extends 'base.html.twig' %}
{% block title %}Aviones Listado{% endblock %}

{# total items count #}
{% block body %}
<div class="count float-end mt-3 mb-2">
    <span class="badge bg-secondary">Nº de Aviones => {{ pagination.getTotalItemCount }}</span>
</div>
{% if is_granted('ROLE_ADMIN') %}
<a class="mt-3 btn btn-success" href="{{ path('aviones_new') }}">Crear nuevo Avión</a>
{% endif %}

<table class="table table-bordered table-striped table-responsive mt-3">
    <caption>Lista de Aviones</caption>
    <thead class="text-uppercase bg-azul bg-gradient text-white">
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
            <th{% if pagination.isSorted('a.tipo') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Tipo', 'a.tipo') }}
            </th>
            <th{% if pagination.isSorted('a.disponible') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Disponible', 'a.disponible') }}
            </th>
            <th>Base</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="text-uppercase table-light">
    {# table body #}
        {% for avion in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td class="fw-bold">{{ avion.id }}</td>
            <td>{{ avion.tipo }}</td>
            <td>
                    {% if avion.disponible %}  
                        <span class="btn btn-success"><i class="fas fa-check-circle"></i></span>  
                        
                    {% else %}
                        <span class="btn btn-danger"><i class="fas fa-times-circle"></i></span>
                    {% endif %}
                </td>
            <td>{{ avion.baseavion.nombre }}</td>
            <td>
                <a class="btn btn-primary text-lowercase" href="{{ path('aviones_show', {'id': avion.id}) }}">mostrar</a>
                {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-warning text-lowercase" href="{{ path('aviones_edit', {'id': avion.id}) }}">editar</a>
                {% endif %}
            </td>
            
        </tr>
        {% else %}
            <tr>
                <td colspan="4">Registro no encontrado</td>
            </tr>
    
        {% endfor %}
    </tbody>
</table>
{# display navigation #}

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %} 

