{% extends 'base.html.twig' %}

{% block title %}Aviones{% endblock %}

{% block body %}
    <h1 class="mt-2">Aviones {{ avione.id }}</h1>

    <table class="table table-warning table-bordered table-striped table-responsive mt-3 text-uppercase">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avione.id }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ avione.tipo }}</td>
            </tr>
            <tr>
                <th>Disponible</th>
                <td>{{ avione.disponible ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Base</th>
                <td>{{ avione.baseavion.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('aviones_index') }}">Volver a la lista</a>
    {% if is_granted('ROLE_ADMIN') %}
    <br>
    <a class="btn btn-warning mt-2 mb-2" href="{{ path('aviones_edit', {'id': avione.id}) }}">Editar</a>

    {{ include('aviones/_delete_form.html.twig') }}
    {% endif %}
    
{% endblock %}
