{% extends 'base.html.twig' %}

{% block title %}Bases{% endblock %}

{% block body %}
    <h1 class="mt-3">Base {{basis.id}}</h1>

    <table class="table table-warning table-bordered table-striped table-responsive mt-3 text-uppercase">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ basis.id }}</td>
            </tr>
            <tr>
                <th class=>NOMBRE</th>
                <td class="text-uppercase">{{ basis.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('bases_index') }}">Volver a la lista</a>
    <br>
    <a class="btn btn-warning mt-2 mb-2" href="{{ path('bases_edit', {'id': basis.id}) }}">Editar</a>
    
    {{ include('bases/_delete_form.html.twig') }}
{% endblock %}
