{% extends 'base.html.twig' %}

{% block title %}Vuelos index{% endblock %}

{% block body %}
    <a class="mt-3 btn btn-success" href="{{ path('vuelos_new') }}">Crear Nuevo Vuelo</a>
    <a class="float-end mt-3 btn btn-primary" href="{{ path('vuelos_personal_index')}}">Ir al Personal en el Vuelo</a>
    <table class="table table-bordered table-striped table-responsive mt-3">
        <caption>Lista de Vuelos</caption>
        <thead class="text-uppercase bg-azul bg-gradient text-white">
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Avión</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="text-uppercase table-warning">
        {% for vuelo in vuelos %}
            <tr>
                <td class="fw-bold">{{ vuelo.id }}</td>
                <td>{{ vuelo.fecha ? vuelo.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ vuelo.hora ? vuelo.hora|date('H:i:s') : '' }}</td>
                <td>{{vuelo.origen.nombre}}</td>
                <td>{{vuelo.destino.nombre}}</td>
                <td>{{vuelo.avion.tipo}}</td>
                <td>
                    <a class="btn btn-primary text-lowercase" href="{{ path('vuelos_show', {'id': vuelo.id}) }}">mostrar</a>
                    <a class="btn btn-warning text-lowercase" href="{{ path('vuelos_edit', {'id': vuelo.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Registros no encontrados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
