{% extends 'base.html.twig' %}

{% block title %}Hello VuelosController!{% endblock %}

{% block body %}
<table class="table table-bordered table-striped table-responsive mt-3">
        <caption>Lista de Vuelos</caption>
        <thead class="text-uppercase bg-azul bg-gradient text-white">
            <tr>
                <th>ID</th>
                <th>Origen</th>
                <th>destino</th>
                <th>Fecha</th>
                <th>Hora</th>
            </tr>
            </thead>
            <tbody class="text-uppercase table-warning">
                
                {% for vuelo in vuelos %}
                <tr>
                    <td scope="row">{{vuelo.id}}</td>
                    <td scope="row">{{vuelo.origen.nombre}}</td>
                    <td scope="row">{{vuelo.destino.nombre}}</td>
                    <td scope="row">{{vuelo.fecha|date('Y-m-d')}}</td>
                    <td scope="row">{{vuelo.hora|format_time}}</td>
                </tr>
                {% else %}
                <tr>    
                    <td colspan="3" scope="row">No se han encontrado registros</td>
                </tr>
                {% endfor %}
                </tr>
            </tbody>
    </table>
    <table class="table table-bordered table-striped table-responsive mt-3">
        <caption>Lista de Personal en Vuelo</caption>
        <thead class="text-uppercase bg-azul bg-gradient text-white">
            <tr>
                <th>ID</th>
                <th>Piloto</th>
                <th>Copiloto</th>
                <th>Ingeniero</th>
                <th>Auxiliar</th>
            </tr>
            </thead>
            <tbody class="text-uppercase table-warning">
                
                {% for vp in vuePer %}
                <tr>
                    <td scope="row">{{vp.vueloId.id}}</td>
                    <td scope="row">{{vp.piloto.id}} - {{vp.piloto.nombre}}</td>
                    <td scope="row">{{vp.copiloto.id}} - {{vp.copiloto.nombre}}</td>
                    <td scope="row">{{vp.ingeniero.id}} - {{vp.ingeniero.nombre}}</td>
                    <td scope="row">{{vp.auxiliar.id}} - {{vp.auxiliar.nombre}}</td>
                </tr>
                {% else %}
                <tr>    
                    <td colspan="3" scope="row">No se han encontrado registros</td>
                </tr>
                {% endfor %}
                    
                </tr>
            </tbody>
    </table>
{% endblock %}
